.password_container {
    .password_bg {
        position: absolute;
        background-color: #878686;
        height: 60px;
        width: 168px;
        left: 16px;
        top: 65px;
    }

    .label1,
    .label2,
    .label3,
    .label4,
    .label5 {

        .display {
            position: absolute;
            background-color: #000000;
            width: 30px;
            height: 50px;
            top: 70px;
            color: #FFFFFF;
            font-size: 27px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .btn_top,
        .btn_bottom {
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #444444;
            transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
            cursor: pointer;

            &:hover {
                transform: scale(1.2)
            }

            &>div {
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 6px solid #CECECE;
                margin-left: 3px;
                margin-top: 3px;
            }
        }

        .btn_top {
            top: 49px;
        }

        .btn_bottom {
            top: 127px;

            &>div {
                margin-top: 5px;
                transform: rotateZ(180deg);
            }
        }

    }

    div[class^="label"]:nth-of-type(2) {
        .display {
            left: 21px;
        }

        .btn_top,
        .btn_bottom {
            left: 29px;
        }
    }

    div[class^="label"]:nth-of-type(3) {
        .display {
            left: 53px;
        }

        .btn_top,
        .btn_bottom {
            left: 61px;
        }
    }

    div[class^="label"]:nth-of-type(4) {
        .display {
            left: 85px;
        }

        .btn_top,
        .btn_bottom {
            left: 93px;
        }
    }

    div[class^="label"]:nth-of-type(5) {
        .display {
            left: 117px;
        }

        .btn_top,
        .btn_bottom {
            left: 125px;
        }
    }

    div[class^="label"]:nth-of-type(6) {
        .display {
            left: 149px;
        }

        .btn_top,
        .btn_bottom {
            left: 157px;
        }
    }



    .password_submit {
        position: absolute;
        background-color: #FFFFFF;
        color: #000000;
        width: 60px;
        height: 20px;
        left: 70px;
        top: 160px;
        font-family: Courier, monospace;
        font-size: 11px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        cursor: pointer;

        &:hover {
            transform: scale(1.1)
        }
    }
}