// overall
body {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Courier, monospace;
}

p {
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 13px;
}

// typography
@import "sass/typography/font-import";

// ui
@import "sass/ui/ui";

// bomb
@import "sass/bomb/bomb-container";
@import "sass/bomb/bomb-display";
@import "sass/bomb/bomb-controls";
@import "sass/bomb/bomb-components";

// modules
@import "sass/modules/wire";
@import "sass/modules/button";
@import "sass/modules/keypads";
@import "sass/modules/simon";
@import "sass/modules/wof";
@import "sass/modules/memory";
@import "sass/modules/morsecode";
@import "sass/modules/wire-sequences";
@import "sass/modules/maze";
@import "sass/modules/password";

//extras
@import "sass/extras/keyframes";
@import "sass/extras/other";
@import "sass/extras/congratz";


